@model BookingDetailsViewModel


<form method="post">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <img src="~/images/pexels-pixabay-164595.jpg" />
                </div>
                <div class="card-footer">
                    <div style="display:inline-flex">
                        <h5 class="mr-2">Room number: @Model.RoomNumber</h5>
                        <input type="hidden" asp-for="RoomNumber" />
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Price"> Price per day: </label>
                <span style="color:forestgreen">@Model.Price$</span>
                <input type="hidden" asp-for="Price" />
            </div>
        </div>
        <div class="col-6 offset-2">
            <div class="mb-3">
                <label asp-for="CheckIn"> From: </label>
                <input asp-for="CheckIn" class="form-control" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CheckOut"> To: </label>
                <input asp-for="CheckOut" class="form-control" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsAvailable)
            {
                <input type="hidden" asp-for="IsAvailable" />
                <button type="submit" class="btn btn-outline-success">Proceed</button>

            }
            else
            {
                <h4 style="color:crimson">This room is currently not available.</h4>
            }
        </div>
    </div>
    <div>
        <p style="font-size:larger">
            <b>Description: </b> @Model.Description
        </p>
    </div>
</form>

@section Scripts{

    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
}