@model BookingDetailsViewModel


@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="~/css/booking.css" rel="stylesheet" />
}

<form method="post">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <img src="~/images/pexels-pixabay-164595.jpg" />
                </div>
                <div class="card-footer">
                    <div style="display:inline-flex">
                        <h5 class="mr-2">Room number: @Model.RoomNumber</h5>
                        <input type="hidden" asp-for="RoomNumber" />
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Price"> Price per day: </label>
                <span style="color:forestgreen">@Model.Price$</span>
                <input type="hidden" asp-for="Price" />
            </div>
        </div>
        <div class="col-6 offset-2">
    @*         <div class="mb-3">
                <label asp-for="CheckIn"> From: </label>
                <input asp-for="CheckIn" class="form-control" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CheckOut"> To: </label>
                <input asp-for="CheckOut" class="form-control" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div> *@

            <input asp-for="CheckIn" type="hidden"/>
            <input asp-for="CheckOut" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>


            @if (Model.IsAvailable)
            {
                <input type="hidden" asp-for="IsAvailable" />
                <button type="submit" class="btn btn-outline-success">Proceed</button>

            }
            else
            {
                <h4 style="color:crimson">This room is currently not available.</h4>
            }
        </div>
    </div>
    <div>
        <p style="font-size:larger">
            <b>Description: </b> @Model.Description
        </p>
    </div>
</form>


<input class="flatpickr flatpickr-input active" type="text" placeholder="Select Date.." readonly="readonly">

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  
    <script>
        var disabledDates = @Html.Raw(Json.Serialize(Model.MyBookings));
        $(document).ready(function () {
            $('.flatpickr').flatpickr({
                dateFormat: "Y-m-d",
                disable: disabledDates, // Pass the list of disabled dates
                mode: "range",
                onChange: function (selectedDates, dateStr, instance) {
                    // Your onChange event handler
                },
                onClose: function (selectedDates, dateStr, instance) {
                    $('#CheckIn').val(selectedDates[0].toISOString());
                    $('#CheckOut').val(selectedDates[1].toISOString());
                },
            });
        });
    </script>
    

    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
}
